
button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 34px;
  background-color: #3425FF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  margin: 0px auto;
  font-weight: 600;
  gap: 4px;
}

button[type="button"]{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #3425FF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  margin: 0px auto;
  font-weight: 600;
  gap: 4px;
}


button:hover {
  opacity: 0.9;
}

.disabled {
  color: rgba(52, 37, 255, 0.50) !important;
  background: #F6F8FA  !important;
  cursor: not-allowed !important;
}