
.nav_bar {
    margin-top: 54px;
    list-style: none;
    padding: 18px;
}


.nav_link {
    text-decoration: none;
    padding: 16px 8px;
    display: block; 
    color: #333;
}

.nav_link.active {
    background: #3425FF;
    border-radius: 8px;
    color: #fff; 
}