.scope_app{
  width: 100%;
}

header{
  height: 54px;
  width: 100%;
  background: red;
  position: fixed;
  top: 0;
  z-index: 2;
}

aside{
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  border-right: 1px solid #E5E9EB;
  overflow-y: auto; 
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
main{
  margin-top: 54px;
  margin-left: 240px;
  padding: 10px 10px 0 10px;
  background-color: #F6F8F9;
}

